/*---------------
Fonte Logo(Satisfy)
Fonte Não Serifada(Roboto)
Fonte Serifada(Poly)
-----------------*/

@import 'https://fonts.googleapis.com/css?family=Poly|Roboto|Satisfy';

/*------------------------------------------
        Reset Basico
--------------------------------------------*/
*{
    margin:0;
    padding:0;
    list-style: none;
     -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}
body{
    font-size: 62.5%;
}


/*-------------------------------------------
        Icon Fonts
---------------------------------------------*/

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'font-awesome', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/*-------------------------------------------
        Grid Responsivo vp 1170px
---------------------------------------------*/
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
    }
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* duas colonas */
    @media (min-width: 480px) {
        .col-2 {
            width: 50%;
        }
    }

    /* tres colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }
     /* quatro colunas */
    @media (min-width: 992px) {
        .col-4 {
            width: 25%;
        }
    }

    /* sidebar */
    @media (min-width: 992px) {
        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }

.clear{
    clear:both;
}

/*-------------------------------------------------
        Cabeçalho
---------------------------------------------------*/
.logo{
    font-family:'Satisfy',sans-serif;
    font-size:2.6em;
    font-weight: normal;
    line-height: 2.6em;
    color:#393939;
    float:left;
}
.header-top{
    text-align: center;
}
.nav-menu{
    margin:3.0em 0;
    }
.nav-menu li{
    display: inline-block;
}
.nav-menu a{
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 1.2em;
    color:#393939;
    padding:0 5px;
}
.nav-menu a:hover{
    color:#2754eb;
}
.nav-assets{
    margin:3.0em 0;
}
.nav-assets p{
    display: inline;
}

.nav-assets span{
    margin:0px 40px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.2em
}
.nav-assets a{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    color:#393939;
    padding:2px 10px;
    text-decoration: none;
    border:1px rgba(57, 57, 57,0.5) solid;
    border-radius: 10px 10px;
    text-transform: uppercase;
}
.nav-assets a:hover{
    background:#2754eb;
    color:#fff;
}
/*---------------------------------------------
    Interface
-----------------------------------------------*/
.interface{
    background: #e2e2e2;
}

.filter-bar h1{
    float: left;
    font-family:'Roboto',sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.2em;
    color:#e3e3e3;
    padding:0 3.0em;
}

.filter-bar{
    margin:2.0em auto;
    padding: 2.0em 0;
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}
.filter-bar label{
    font-family:'Roboto',sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#e3e3e3;
    padding:0 1.0em;
}
::-webkit-input-placeholder{
	color:#d3d3d3;
	font: 11px arial,sans-serif;
    padding:0 10px;
}
::-moz-placeholder{
	color:#d3d3d3;
	font: 11px arial,sans-serif;
    padding:0 10px;
}
::-ms-input-placeholder{
	color:#d3d3d3;
	font: 11px arial,sans-serif;
    padding:0 10px;
}
.filter-bar input[type="number"],
.filter-bar input[type="search"]{
     border:1px #f4f4f4 solid;
     border-radius: 10px 10px;
     background: #f4f4f4;
}
.filter-bar input[type="number"]{
    width: 80px;
}
.filter-bar input[type="submit"]{
    margin:0 40px;
    border:1px #f4f4f4 solid;
    border-radius: 10px 10px;
    padding: 5px 15px;
    cursor:pointer;
    color:#fff;
}
.filter-bar input[type="submit"]:hover{
    background:#2754eb;
    color:#fff;
}

/*-----------------------------------------------------------------
    Barra Lateral  -- Menu DropDown
-----------------------------------------------------------------*/

.aside-dropdown{
    background: #fff;
    border:solid 1px #f4f4f4;
    border-radius:10px;
    margin:10px 0;
}
.dropdown li{
    border-bottom: solid 1px #f4f4f4;
}
.dropdown a{
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    color:#393939;
    display: block;
    padding:10px 20px;
}
.dropdown .sub-arrow:after{
    content:'\203A';
    float: right;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
       -moz-transform:rotate(90deg);
}
.dropdown .sub-menu{
    display: none;
}
.sub-menu a{
    padding:10px 30px;
    color:#393939;
}
.dropdown li.tap ul {
    display: block;
    background: #f4f4f4;
}
.dropdown li.tap .sub-arrow:after{
   content:'\2039';
}
.dropdown a:hover{
    background:#2754eb;
    color:#fff;
}

.available-filter{
    background: #fff;
    border:solid 1px #f4f4f4;
    border-radius:10px;
    margin:10px 0;
    position: relative;
    padding: 10px 0;
}
.available-filter fieldset{
     border:none;
}
.available-filter legend{
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    color:#393939;
    text-transform: uppercase;
    padding:10px 20px;
    border-bottom:solid 1px #f4f4f4;
    width: 100%;
    margin:10px 0;
}
.available-filter label{
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.0em;
    color:#393939;
}
.available-filter input{
    margin: 5px 20px;
}
.available-filter a{
    position: absolute;
    right:10px;
    bottom: 10px;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.0em;
    color:c;
    text-decoration: none;
}
.available-filter a:hover{
    color:#2754eb;
}
.available{
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------
    Grade de Produtos
-----------------------------------------------------------------*/

.product img{
    max-width: 100%;
}
.product {
    border:solid 1px #f4f4f4;
    border-radius:10px 10px;
    margin:10px 0;
    text-align:center;
    position: relative;
    background: #fff;
}
.product h1,
.product p:last-of-type{
    color:#393939;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    font-size:1.3em;
    line-height: 1.9em;
}
.product p:first-of-type{
    color:#c4c3c3;
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}

.product span{
    opacity: 0;
	color:#FFF;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,0.3);
	font-size:1.9em;
    position: absolute;
    padding:89px 80px;
    top:0;
    left:11px;
    cursor:pointer;
}
.product span:hover {
    opacity: 1;
}

/*-----------------------------------------------------------------
    Barra de Navegação
-----------------------------------------------------------------*/

.scrollbar {
    margin:2.0em auto;
    padding: 2.0em 0;
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}

.scrollbar ul li{
    display: inline-block;
    padding:0 2.0em;
}

.scrollbar .left:first-of-type{
    position: absolute;
    left:10%;
    top:7%;
}
.scrollbar .right:last-of-type{
    position: absolute;
    right:10%;
    top:7%;
}
.scrollbar li a{
    text-decoration: none;
    color:#393939;
    font-size:1.5em;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    padding: 10px 15px;
}
.scrollbar li a:hover{
    background: #fff;
    color:#c6c6c6;
    border: 1px solid #fff;
    border-radius:100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.fontawesome-angle-right,
.fontawesome-angle-left{
    font-size: 25px;
}
.left,
.right{
    text-decoration: none;
    padding: 10px 20px;
    color:#393939;
}
.left:hover,
.right:hover{
    font-size: 25px;
    background: #fff;
    color:#c6c6c6;
    border: 1px solid #fff;
    border-radius:100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
/*----------------------------------------------------------
        Mais Vendidos
-------------------------------------------------------------*/
.product-bs img{
    max-width: 100%;
}
.best-sellers{
    border:solid 1px #f4f4f4;
    border-radius:10px 10px;
    margin:2.0em auto;
    text-align:center;
    background: #fff;
}
.header-best-sellers{
    font-family: 'Roboto',sans-serif;
    font-size:1.1em;
    line-height: 3.9em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-bottom: solid 1px  #f4f4f4;
}
.product-bs h1,
.product-bs p:last-of-type{
    color:#393939;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    font-size:1.3em;
    line-height: 1.9em;
}
.product-bs p:first-of-type{
    color:#c4c3c3;
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}
.product-bs span{
    padding: 0 15px;
    color:#c4c3c3;
    font-weight: normal;
    text-decoration:line-through;
}
/*-------------------------------------------------------------
            Rodapé
----------------------------------------------------------------*/

.comments .col-3{
    padding: 0 9.0em;
}

.header-footer {
    padding:2.0em 0;
    text-align:center;
    background: #fff;
}

.header-footer h1{
    color:#393939;
    font-family: 'Roboto',sans-serif;
    font-size: 2.8em;
    line-height: em;
    font-weight: bolder;
}
.header-footer .taglib{
    color:#dbdbdb;
    font-family: 'Poly', serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 2.5em
}

.comments h1{
    color:#393939;
    font-family: 'Roboto',sans-serif;
    font-size: 1.1em;
    line-height: 2.5em;
}
.comments p:first-of-type{
    color:#dbdbdb;
    font-family: 'Poly', serif;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.8em;
}
.comments p:last-of-type{
    color:#393939;
    font-family: 'Poly', serif;
    font-size: 1.4em;
    padding: 0.5em;
}

.comments img{
    width: 45px;
    height: 45px;
    float: left;
    border: solid 1px #fff;
    border-radius: 100%;
}
.bottom-footer{
   background:#393939;
    padding: 0 9.0em;
    text-align: center;
    margin-top:2.0em;
}
.bottom-footer .logo{
    color:#fff;
}
.nav-footer-menu,.social{
     margin:3.0em 0;
}
.nav-footer-menu li{
    display: inline-block;
}
.nav-footer-menu a{
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 1.2em;
    color:#FFF;
    padding:0 5px;
    text-transform: uppercase;
}
.nav-footer-menu a:hover{
    color:#2754eb;
}
.block{
    padding: 3.0em 0;
    border-bottom:solid 1px #4e4e4e;
}
.social a{
    text-decoration: none;
}
.social span{
    font-size: 1.9em;
    padding:0.5em;
    color:#fff;
    cursor: pointer;
}
.terms{
    padding:3.0em 0;
    text-align: center;
    font-family:'Roboto',serif;
    font-size: 1.2em;
    color:#585858;
}

/*-------------------------------------------------------------
        Slider
--------------------------------------------------------------*/
.slider {
	position: relative;
	overflow: hidden;
/*	padding: 40px 0 40px;*/
	width: 100%;
    background: #1c1e23;
}

.slider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.slider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.slider ul li > a,
.slider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.slider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.slider nav span {
	position: absolute;
	top: 55%;
	background:#ddd;
	color: #fff;
	font-size:20px;
	text-align: center;
	margin-top: -50px;
	cursor: pointer;
	font-weight: bolder;
	border: solid 1px #ddd;
	border-radius: 100%;
	padding: 5px 10px;
}
.slider nav span:hover{
	background:#2754eb;
	color: #fff;
	border: solid 1px #2754eb ;
    -webkit-transform: scale(1.4);
       -moz-transform: scale(1.4);
            transform: scale(1.4);
}
.slider nav span.cbp-fwnext {right: 30px;}
.slider nav span.cbp-fwprev {left: 30px;}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #2754eb;
	box-shadow: 0 0 0 2px #2754eb;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}


